
body{
    margin:0px;
    width:100%;
}

.header{
    background-color:#5876AA;
    display:flex;
}

h1{
    color:#fff;
    padding:5px;
}

a{
  color:#5876AA;
  text-decoration:none;
}

.body{
  padding:10px;
}

table{
  margin-top:10px;
  border:0.5px solid #fff;
}

th{
  background-color: #6785C1;
  color:#fff;
  padding:5px;
}

td:first-child{
  text-align:center;
  background-color: #6D9EEB;
  color: #fff;
}

td{
  padding:5px 10px;
  background-color:#C9DAF8;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}


@media (max-width:425px;){

}